.page-header {
	.name {
		/*color: var(--accent);*/
	}
	.role {
		color: var(--ink-auxiliary);
	}
	.read-more {
	}

	.loud-voice {
		+ text-content {
			margin-top: 0.8em;
		}
	}

	.documents {
		margin-top: 1em;

		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: 1em;

		a {
			color: var(--accent);
			padding-block: 0.5em;
		}
	}

	.more {
		summary {
			cursor: pointer;
			list-style: none;
		}
		summary::-webkit-details-marker {
			display: none;
		}
		&[open] summary {
			display: none;
		}
	}

	.more-body {
		margin-top: 0.75rem;
	}
}
